.spacer {
  flex: 1 1 auto;
}

.chip-list {
  width: 100%;
}

.web-size {
  font-size: 2rem !important;
  width: 2rem !important;
  height: 2rem !important;
}

.repo-size {
    font-size: 1.7rem !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
  }
